# Python
__pycache__/
*.py[cod]

# Environnements
.venv/
venv/
.env

# Données (NE PAS versionner)
data/

# Archives / exports
*.zip
Très important pour GitHub.docx ~$ès important pour GitHub.docx
*.apk
